{%
set nav_classes = 'navbar navbar-expand-lg' ~ 
  (b4_navbar_schema != 'none' ? " navbar-#{b4_navbar_schema}" : ' ') ~
  (b4_navbar_schema != 'none' ? (b4_navbar_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b4_navbar_bg_schema != 'none' ? " bg-#{b4_navbar_bg_schema}" : ' ')
%}

{%
set footer_classes = 'navbar navbar-expand-lg' ~ 
  (b4_footer_schema != 'none' ? " navbar-#{b4_footer_schema}" : ' ') ~
  (b4_footer_schema != 'none' ? (b4_footer_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b4_footer_bg_schema != 'none' ? " bg-#{b4_footer_bg_schema}" : ' ')
%}
<header>
  {{ page.header }}  

  {% if page.nav_branding or page.nav_main or page.nav_additional %}  
  <nav class="navbar navbar-expand-lg navbar-dark text-light bg-dark">
    <div class="container-fluid row mx-auto">
      <div class="col-auto p-0">
      {{ page.nav_branding }}  
      </div>

      <div class="col-3 col-md-auto p-0 text-right">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse col-12 col-md-auto p-0 justify-content-end" id="navbarSupportedContent">
        {{ page.nav_main }}      
        {{ page.nav_additional }}      
      </div>
    </div>
  </nav>
  {% endif %}

</header>
<div class="product-view">
<div class="product-essential container">
            <div class="row">
              
              <form action="#" method="post" id="product_addtocart_form">
                <!--End For version 1, 2, 6 -->
                <!-- For version 3 -->
                <div class="product-img-box col-lg-5 col-sm-5 col-xs-12">
                    
                    <div class="product-image">
                      <div class="product-full"> {{ product.field_product_image }}</div>
                    </div>
                    <!-- end: more-images --> 
                  </div>
                <!--End For version 1,2,6-->
                <!-- For version 3 -->
                <div class="product-shop col-lg- col-sm-7 col-xs-12">
                    <div class="product-next-prev"> <a class="product-next" href="#"><span></span></a> <a class="product-prev" href="#"><span></span></a> </div>
                    <div class="product-name">
                      <h1>{{ product.title }} </h1>
                    </div>
                    
                    <div class="price-block">
                      <div class="price-box">
                      <p class="availability in-stock"><span>In Stock</span></p>
                        <p class="special-price"> <span id="product-price-48" class="price"> {{ product.variation_price|without('title') }} </span> </p>
                      </div>
                    </div>
                    <div class="add-to-box">
                      <div class="add-to-cart">
                        <div class="pull-left">
                          <div class="custom pull-left">
                            {{ product.quantity }}
                          </div>
                        </div>
                       {{ product.variations }}                       
                      </div>
                      
                    </div>
                    <div class="short-description">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla. Donec a neque libero. </p>
                    </div>
                    <div class="email-addto-box">
                        <ul class="add-to-links">
                          <li> <a class="link-wishlist" href="wishlist.html"><span>Add to Wishlist</span></a></li>
                          <li><span class="separator">|</span> <a class="link-compare" href="compare.html"><span>Add to Compare</span></a></li>
                        </ul>
                        <p class="email-friend"><a href="#" class=""><span>Email to a Friend</span></a></p>
                      </div>
                    <div class="social">
                      <ul class="link">
                        <li class="fb"><a href="#"></a></li>
                        <li class="tw"><a href="#"></a></li>
                        <li class="googleplus"><a href="#"></a></li>
                        <li class="rss"><a href="#"></a></li>
                        <li class="pintrest"><a href="#"></a></li>
                        <li class="linkedin"><a href="#"></a></li>
                        <li class="youtube"><a href="#"></a></li>
                      </ul>
                    </div>
                    
                    <ul class="shipping-pro">
                                    <li>Free Wordwide Shipping</li>
                                    <li>30 Days Return</li>
                                    <li>Member Discount</li>
                                </ul>
                  </div>
                <!--product-shop-->
                <!--Detail page static block for version 3-->
              </form>
            </div>
          </div>

</div>
{% if page.footer %}
<footer> 
    <!-- BEGIN INFORMATIVE FOOTER -->
    {{ page.footer }}
    <!--footer-bottom--> 
    <!-- BEGIN SIMPLE FOOTER --> 
  </footer>
{% endif %}

