<!---top  header design -->
<header>
  {{ page.header }}  

  {% if page.nav_branding or page.nav_main or page.nav_additional %}  
  <nav class="navbar navbar-expand-lg navbar-dark text-light bg-dark">
    <div class="container-fluid row mx-auto">
      <div class="col-auto p-0">
      {{ page.nav_branding }}  
      </div>

      <div class="col-3 col-md-auto p-0 text-right">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse col-12 col-md-auto p-0 justify-content-end" id="navbarSupportedContent">
        {{ page.nav_main }}      
        {{ page.nav_additional }}      
      </div>
    </div>
  </nav>
  {% endif %}

</header>
   <!--slider -Start-->
 
<div id="layerslider" style="width: 100%; height: 100%;">
<div class="ls-slide" data-ls="slidedelay: 2000; transition2d: all;">
<img  src="/themes/gavamrit/sliderimages/slide-b-bg.jpg"  class="ls-bg"/></div>

<div class="ls-slide" data-ls="slidedelay: 2000; transition2d: all;">
<img  src="/themes/gavamrit/sliderimages/jellyfish-blur.jpg" class="ls-bg" /></div>
</div>



    <!--Slider End -->


<!-- Banner end -->
<!--  full Width -->
{% if page.full_width %}
  <section class="full_width">
        {{ page.full_width }}
  </section>
{% endif %}

<!-- footer -->
<!-- footer -->
{% if page.footer %}
<footer> 
    
    <!--footer-middle-->
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-sm-4">

            <div class="" style="float:left;width:100%; ">
              <h3>About Us</h3></div>
              <div>
                <p>Drupal.org lists nearly 1,200+ Contributed Drupal themes as of December, 2016. Currently themes display page is treated the same way as the modules display page with too much information such as development s</p>
              </div>
            <!-- <div class="social">
              <ul>
                <li class="fb"><a href="#"></a></li>
                <li class="tw"><a href="#"></a></li>
                <li class="googleplus"><a href="#"></a></li>
                <li class="rss"><a href="#"></a></li>
                <li class="pintrest"><a href="#"></a></li>
                <li class="linkedin"><a href="#"></a></li>
                <li class="youtube"><a href="#"></a></li>
              </ul>
            </div> -->
          </div>
          <div class="col-sm-4 col-xs-4 "><h3>Quick Links</h3> <p>Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content. It's also called placeholder (or filler) text.</p> </div>

          <div class="col-xs-4 col-sm-4">
            <h3>Contact Us</h3>
            <p>Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content. It's also called placeholder (or filler) text.</p>
          </div>
        </div>
      </div>
    </div>
    <!--footer-bottom--> 
    <!-- BEGIN SIMPLE FOOTER --> 
    
  </footer>
{% endif %}

<script>
jQuery(document).ready(function(){
jQuery("#layerslider").layerSlider({
      pauseOnHover: false,
      showCircleTimer: false
    });
jQuery(".form-search").attr('placeholder','search...');


                    wow.init();

});
</script>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->